<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Jiva_CustomerDetails::customerInfo" sortOrder="10" title="customerInfo">
					<resource id="Jiva_CustomerDetails::customerInfo_save" sortOrder="10" title="Save customerInfo"/>
					<resource id="Jiva_CustomerDetails::customerInfo_delete" sortOrder="20" title="Delete customerInfo"/>
					<resource id="Jiva_CustomerDetails::customerInfo_update" sortOrder="30" title="Update customerInfo"/>
					<resource id="Jiva_CustomerDetails::customerInfo_view" sortOrder="40" title="View customerInfo"/>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
